<link rel="stylesheet" href="__LAYUI__/css/layui.css">
<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="__LAYUI__/layui.js"></script>

<!--table-->
<div id="table" lay-filter="table"></div>


<!--工具条-->
<script type="text/html" id="cateTool">
    <a class="layui-btn layui-btn-xs" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<!--工具条-->




<script>
    layui.use(['layer', 'form','element','laypage','table'], function() {
        var layer = layui.layer
            ,form = layui.form
            ,laypage = layui.laypage
            ,table = layui.table
            ,element = layui.element;

        table.render({
            id:'table',
            elem: '#table'
            ,url:'/ping/cate/getCateListAll'
            ,limit:25
            ,page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
                layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'] //自定义分页布局
                //,curr: 5 //设定初始在第 5 页
                ,groups: 5 //只显示 1 个连续页码
                ,first: true //不显示首页
                ,last: true //不显示尾页
            }
            ,cols: [[
                {field:'id', width:80, title: 'ID', sort: true, fixed: 'left'}
                ,{field:'cate', width:'50%', title: '栏目名称', edit:'text'}
                ,{field:'sort', width:100, title: '排序',edit:'text'}
                ,{fixed: 'right', width:150, align:'center', toolbar: '#cateTool'} //这里的toolbar值是模板元素的选择器
            ]]

        });


        //监听工具条
        table.on('tool(table)', function(obj){ //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            //var tr = obj.tr; //获得当前行 tr 的DOM对象

            var id = data.id;
            var cate = data.cate;

            if(layEvent === 'detail'){ //查看
                //do somehing
                //查看
            } else if(layEvent === 'del'){ //删除
                layer.confirm('删除:'+cate, function(index){
                    layer.close(index);
                    //向服务端发送删除指令
                    //ajax
                    console.log('ajax...');
                    $.ajax({
                        type:'post',
                        url:'/ping/blog/delete',
                        dataType:'json',
                        data:{id:id},
                        success: function(result){
                            if(result.code == 200){
                                layer.msg(result.message,{time:1000},function(){
                                    obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                                });
                            }else{
                                layer.msg(result.message);
                            }

                        }
                    });
                });
            } else if(layEvent === 'edit'){ //编辑
                //do something

                //同步更新缓存对应的值
                obj.update({
                    username: '123'
                    ,title: 'xxx'
                });
            }
        });

        table.on('edit(table)', function(obj){ //注：edit是固定事件名，test是table原始容器的属性 lay-filter="对应的值"
            console.log(obj.value); //得到修改后的值
            console.log(obj.field); //当前编辑的字段名
            console.log(obj.data); //所在行的所有相关数据

            var field = obj.field;

        });

    });
</script>

